<!DOCTYPE html>
<html>
  <head>
    <title>Ruralmerce</title>
    <!-- Inclui o Vite para Tailwind CSS e JavaScript -->
    @vite(['resources/js/app.js', 'resources/css/app.css'])
  </head>
  <body>
    <section class="w-full px-0 pb-12 antialiased bg-white">
      <div class="w-full">
        
        <!-- Inclui o Header -->
        @include('components/layouts/partials/header')
        
        <!-- Slot principal para o conteúdo -->
        <div>
          {{{ await $slots.main() }}}
        </div>
      </div>
    </section>
  </body>
</html>
