<!-- resources/views/pages/users/settings.edge -->
<div>
  <h2 class="text-xl font-bold">Configurações da Conta</h2>
  <ul>
    <li><a href="{{ route('users.edit') }}" class="text-blue-500">Editar Perfil</a></li>
    <li><a href="/help" class="text-blue-500">Ajuda e Suporte</a></li>
  </ul>
</div>
